

/* Done:

- HTML and CSS Tested with the W3C validator 
- Check if all img have "alt"
- Check for all hover buttons and links;


----*/

/* Next Steps: 

- Accessibility: Check color contrast; h1 that is not the title of the webpage;  
- 
- Group all similar properties;
- Organize CSS (Indent, classes vs IDs, are there properties that could be grouped etc)
- Did all the images get used?
- Upload to GitHub
- 
- Mobile Version? Make it responsive?;
- Lay out questions for Joaquim (Not only what is not working but also what could be better

----*/

/* ----GENERAL AND REPEATED STYLES----*/


*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav,header,section{
    width:100vw;
}

.clearfix{
    clear:both;
}


/* ----NAV BAR SECTION-----r*/

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    padding-bottom: 15px;
    height: 20px;
    }

nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}


.top-left{
    float:left;
}

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
}


/*    ---HEADER------*/


header {
    background-image: url("../images/city-scape.svg");
    background-repeat: no-repeat;
    color:white;
    width:100vw;
    height: 70vh;
}

/* ----HEADER BAR SECTION-----*/

#header-bar-container{
    height:50px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    padding: 0;
    height:100%;
}

.header-item img {
    height:100%;
    padding:7px 0;
}

.form-container {
    height:100%;
    flex-grow:2;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left:5px;
    padding-right:5px;
}

.form-container form .search-btn{
    padding:1px 1px;
    border: 1px solid rgb(83, 88, 98);
}


.header-item form .search-btn{
    background: url("https://cdn2.iconfinder.com/data/icons/picons-essentials/57/search-512.png");
    background-size:100% 100%;
    background-color:rgb(31, 82, 111);
    width: 30px;
    height: 30px;
    border: 1px solid rgb(83, 88, 98);
    margin-left:5px;}

.header-item form .search-btn:hover{
    cursor: pointer;
} 

.header-item input[type=search] {
    border: 1px solid rgb(156, 162, 175);
    background-color:rgb(31, 82, 111);
    height:30px;
    flex-grow:2;
}

.header-item .header-bar-item a {
    text-decoration: none;
    color:white;
}

.login-container{
    flex-grow:0;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;}


/* ----HEADER TEXT SECTION-----*/


#header-text{
    margin: 0 auto;
    width:50%;
    padding:5%;
}

#header-text h1{
    font-weight:300;
    padding:5% 0;
}

#header-text p{
    padding:0 0 5% 0;
    width:55%;
}

header #header-text img{
    width:100%;
    float:right;
}

.btn{
    border-radius:50px;
    padding:1.5%;
    text-align:center;
    border: 0 ;
}

header .btn {
    background-color:rgb(240, 146, 51);
    border: 0 0 0;
    color:white;
}

header .btn:hover {
    background-color:rgb(202, 107, 11);
    cursor: pointer;
}


/* ----COLLABORATION SECTION-----*/

#collaboration-section {
    width:100vw;
    background-color:rgb(39, 53, 71); 
}

#orgs-div{
    margin:0 auto;
    width:70%;
    padding: 10% 0;
    color:white;
}

#orgs-div img{
    float:left;
    padding-right:5%;
    width:50%;
}

#orgs-div h2{
    padding-bottom:1%;
    font-size:2em;
    font-weight:300;
}

#orgs-div ul li{
    font-size:0.9em;
    line-height: 1.5em;
}


#orgs-div h2, #orgs-div ul, {
    padding-bottom:3%;}


#orgs-div .btn {
    border: 0 0 0;
    color:white;
    margin-top:3%;
    margin-bottom:1%;
    padding:1% 2%;
    background-color: #C12127;
}

#orgs-div .btn:hover {
    background-color:rgb(182, 47, 47);
    cursor: pointer;
}

#orgs-div a {
    text-decoration: none;
    font-weight: 700;
    color:white;
}

/* ----WHAT IS NPM  SECTION -----*/


#what-is-section{
    background-image: url("../images/forklift.svg"); 
    height: 60vh;
    color:white;
}

#what-is-text-div{
    width:30%;
    position:relative;
    left:15%;
    top:25%;
}

#what-is-text-div h2{
    padding-bottom:2%;
    font-size:2em;
    font-weight:300;
}

#what-is-text-div h2,p,button{
    padding-bottom:5%;
}


#what-is-text-div .btn {
    background-color:rgb(49, 68, 88);
    border: 0 0 0;
    color:white;
    width:25%
}

#what-is-text-div .btn:hover {
    background-color:rgb(37, 51, 65);
    cursor: pointer;
}


/* ----WHAT CAN YOU MAKE SECTION -----*/

#what-can-you-make-section{
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center
    
}

#what-can-you-make-section #top-section{
    text-align:center;
    
}

#top-section h2{
    color:rgb(83, 88, 98);
    font-size:2em;
    font-weight:300;
    padding:2%;}

#top-section p{
    color:rgb(135, 145, 156);
    padding-bottom:0.5%;}

.col-container{
    width:70%;
    margin:0 auto;
}

.col-3{
    width:24%;
    margin:auto;
    float:left;
    padding:1.8% 4%;
    text-align: center;
    height:100%;
}

.col-middle{
    margin-left:1.1%;
    margin-right:1.1%;
}

.col-3 .icon{
    width:35%;
    margin:0 auto;
}

.col-3 h3 {
    color:rgb(83, 88, 98);
    padding:4% 0;
}

.col-3 p {
    font-size: 0.9em;
    color:rgb(135, 145, 156);
}

.col-3 a{
    color:rgb(208, 74, 73);
    font-weight:700;
    text-decoration: none;
}
