*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* ----NAV BAR SECTION-----r*/

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    padding-bottom:15px;
    height: 25px;
    font-family:'';/*what should the font family be?*/
    
    }

nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    border:3px solid blue;/* to erase later*/
}


.top-left{
    float:left;
}

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
    border:3px solid blue;
    
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
}


/*    ---HEADER------*/


.clearfix{
    clear:both;
}

header{
    background-image: url("../images/city-scape.svg");
    background-repeat: no-repeat;
    color:white;
    width:100%;
    border:3px solid yellow;
    height: 80vh;
}

#header-bar  {
    height:5vh;
    border:3px solid blue;
}

.header-bar-item {
    display: inline-block;
    padding: 0;
    margin: 0 20px 0 0;
    border:3px solid blue;
    height:25pX;
    float:left;
    height:100%;
}

.header-bar-item a {
    text-decoration: underline;
    color:white;
}

#header-bar form {
    width:80%;
    height: 100%;
    border:3px solid yellow;
}

.header-bar-item #input-field {
    background-color:rgb(31, 82, 111);
    width:98%;
    height: 100%;
}

.header-bar-item input[type=search] {
    border: 0 solid whitesmoke;
  }

#header-bar #npm-logo{
    height:100%;
    float:left;
    border:3px solid blue;
}


#header-text{
    margin: 0 auto;
    width:50%;
    padding:5%;
}

#header-text h1{
    font-weight:300;
    padding:5% 0;
}

#header-text p{
    padding:0 0 5% 0;
    width:55%;
}

header #header-text img{
    width:100%;
    float:right;
}

.btn{
    border-radius:50px;
    padding:1.5%;
    text-align:center;
    border: 0 ;
}

header .btn {
    background-color:rgb(240, 146, 51);
    border: 0 0 0;
    color:white;
}

header .btn:hover {
    background-color:rgb(202, 107, 11);
    
}

/* ----COLLABORATION SECTION-----r*/

#collaboration-section {
    width:100vw;
    background-color:rgb(39, 53, 71); 
    
}

#orgs-div{
    margin:0 auto;
    width:70%;
    border:3px solid yellow;
    padding: 10% 0;
    color:white;
}

#orgs-div img{
    float:left;
    padding-right:5%;
    width:50%;
}

#orgs-div h2{
    padding-bottom:1%;
    font-size:2em;
    font-weight:light;
    border:3px solid yellow;
}

#orgs-div ul li{
    font-size:0.9em;
    line-height: 1.5em;
}




